@import url('https://fonts.googleapis.com/css?family=Roboto');

* { padding: 0px; margin: 0px; }
html { height: 100%; }
body { height: 100%; width: 100%; font-family: 'Roboto', sans-serif; background-color: #ecfc7b;}
a {text-decoration: none;}
button { outline: none; border: 1px solid silver; border-radius: 10px; }
button:active { background-color: #c4c4c4; }
.user-hide { display: none; }



#background-block {
	width: 100%;
	min-height: 100%;
}

#go-back {
	position: absolute;
	top: 10px;
	left: 10px;
	width: 50px;
	height: 50px;
	background-color: #f9f9f9;
	box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
}

#go-back img {
	width: 100%;
	height: 100%;
}

#content {
	background-color: #f9f9f9;
	width: 80%;
	min-height: 90%;
	margin-top: 5%;
	margin-bottom: 5%;
	box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
}

#welcome {
	text-align: center;
	padding: 15px 0 15px 0;
	width: 100%;
	font-size: 1.5em;
	border-bottom: 1px solid silver;
	background-color: #eaeaea;
}


/*End main*/

#work {
	display: grid;
	grid-template-columns: 1fr 1fr;
	font-size: 1.5em;
	border-bottom: 1px solid silver;
}


#work div:nth-child(1) {
	padding: 5px;
	margin: 5px;
}

#work div:nth-child(2) {
	margin: 5px;
}

#work div:nth-child(2) button {
	font-size: 0.8em;
	padding: 5px;
	margin: 5px;

}


/*Order*/

#order {
	padding-top: 40px;
	padding-bottom: 40px;
}

#order div:nth-child(1) {
	font-size: 1.5em;
}

#order div:nth-child(2) {
	display: grid;
	grid-template-columns: 85% 15%;
	width: 90%;
	margin-top: 10px;
}

#order div:nth-child(2) div {
	display: grid;
	grid-template-columns: 17% 83%;
}

#order div:nth-child(2) div textarea {
	resize: none;
	width: 98%;
	height: 60px;
	border: 1px solid silver;
	border-radius: 10px;
	font-size: 1.1em;
	outline: none;
	text-align: center;
}

#order div:nth-child(2) div input[type='text'] {
	border: 1px solid silver;
	border-radius: 10px;
	height: 60px;
	font-size: 1.1em;
	outline: none;
	text-align: center;
}

#order div:nth-child(2) button {
	position: relative;
	top: 20px;
	height: 60px;
	float: bottom;
	font-size: 1.2em;
}

#phone {
	margin-top: 20px;
}

#phone label {
	font-size: 1.5em;
}

#phone input {
	width: 50%;
	outline: none;
	overflow: auto;
	text-align: center;
	margin-top: 5px;
	border: 1px solid silver;
	border-radius: 10px;
	font-size: 1.5em;
}


/*Order setting*/

#order-settings {
	border-top: 1px solid silver;
	padding-top: 20px;
	padding-bottom: 20px;
}

#order-time div:nth-child(1) {
	font-size: 1.5em;
	padding-bottom: 10px;
}

#order-time div:nth-child(2) {
	display: grid;
	grid-template-columns: 60% 40%;
	grid-row-gap: 20px;
	grid-column-gap: 10px; 
	width: 50%; 
}

#order-time div input[type='text'] {
	font-size: 1.5em;
	text-align: center;
	outline: none;
	border: 1px solid silver;
	border-radius: 10px;
}

/*Запит на зміну*/

#order-time div:nth-child(3) {
	font-size: 1.5em;
	padding-top: 20px;
}

#order-time div:nth-child(4) {
	display: grid;
	grid-template-columns: 25% 50% 25%;
	grid-gap: 10px;
	width: 90%;
	padding-top: 10px;
}

#order-time div:nth-child(4) textarea {
	outline: none;
	resize: none;
	border: 1px solid silver;
	border-radius: 10px;
	text-align: center;
	font-size: 1.3em;
}

/*Доставити до*/
#order-time div:nth-child(5) {
	padding-top: 20px;
	font-size: 1.5em;
	width: 50%;
}

#order-time div:nth-child(5) input[type='text'] {
	font-size: 1.1em;
	width: 30%;
}

/*order-location*/
#order-location {
	border-top: 1px solid silver;
	margin-top: 40px;
	padding-top: 40px;

}

#order-location div:nth-child(2) {
	display: grid;
	grid-template-columns: 3fr 1fr 1fr;
	width: 60%;
}

#order-location div:nth-child(2) textarea {
	outline: none;
	resize: none;
	border: 1px solid silver;
	border-radius: 10px;
	text-align: center;
	font-size: 1.3em;
	height: 60px;
	overflow-x: hidden;
}

#order-location div:nth-child(2) button {
	font-size: 1.2em;
	height: 60px;
}


/*Finish order*/

#finish-order {
	padding-top: 20px;
	margin-top: 40px;
	border-top: 1px solid silver;
}

#finish-order > div {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

#finish-order div div {
	color: green;
	font-size: 1.5em;
	font-family: Comic Sans MS;
}

#finish-order div button {
	width: 50%;
	font-size: 1em;
	padding-top: 10px;
	padding-bottom: 10px;
}
